<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->


<div class="col-sm-offset-1 col-sm-22">

  <i class="glyphicon glyphicon-search search-icon"></i>
    <tags-input ng-model="tags" placeholder="Search by entity name or tag" min-length="1" on-tag-added="displayResults($tag)"></tags-input>
  <i class="glyphicon glyphicon-remove remove-icon"></i>

  <div class="col-sm-24 dashboardBox" ng-show="searchList.length > 0">
    <div class="row">
        <div class="col-sm-24">
            <entities-search-list input="searchList" type="feed" entity-details="entityDetails" clone="cloneEntity" remove="deleteEntity" edit="editEntity" schedule="scheduleEntity" suspend="suspendEntity" resume="resumeEntity"/>
        </div>
    </div>
  </div>

</div>

<div class="col-xs-24" ng-hide="searchList.length > 0">
  <div class="row" ng-controller="chartCtrl">
    <div class="col-xs-18">
      <div class="chartMenuBox">
        <div class="entityBox">
          <h5> Entity </h5>
          <div class="entityTypeButtons">
            <button class="btn"
                    ng-click="chartOptions.entity = 'feed'; requestNewData()"
                    ng-class="{active: chartOptions.entity === 'feed'}">
              Feeds
            </button>
            <button class="btn"
                    ng-click="chartOptions.entity = 'process'; requestNewData()"
                    ng-class="{active: chartOptions.entity === 'process'}">
              Processes
            </button>
            <button class="btn"
                    ng-click="chartOptions.entity = 'dataset'; requestNewData()"
                    ng-class="{active: chartOptions.entity === 'dataset'}">
              Dataset
            </button>
          </div>
        </div>
        <div class="timeBox">
          <h5>Time</h5>
          <label>
            <input type="radio" ng-model="chartOptions.mode" value="hourly" ng-change="requestNewData()">
            24 Hs
          </label>
          <label>
            <input type="radio" ng-model="chartOptions.mode" value="daily" ng-change="requestNewData()">
            14 Days
          </label>
        </div>
        <div class="dayBox">
          <h5>Day</h5>
          <input type="text"
                 ng-change="requestNewData()"
                 class="form-control dateInput"
                 placeholder="mm/dd/yyyy"
                 datepicker-popup="{{dateFormat}}"
                 ng-model="chartOptions.day"
                 is-open="opened"
                 ng-click="openDatePicker($event)"
                 ng-required="true"
                 simple-date />
          <span class="entypo calendar dateInputIcon"
                ng-click="openDatePicker($event)">
          </span>
        </div>
      </div>
      <chart class="chart"
             input="graphData"
             w="700"
             h="400"
             t="30"
             mode="chartOptions.mode"

             details="details">
      </chart>
    </div>
    <div class="col-xs-6">
      {{chartOptions}}
    </div>

  </div>
</div>

