/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@summarySuccess: #009900;
@summaryWarning: #E6DD00;
@summaryDanger: #FF0000;

.entitySummary {
  text-align: center;
  .whiteBox {
    background-color: white;
    border-radius: 3px;
    margin: 0 7px 0 0;
    padding: 5px 0;
    &:first-child {
      margin: 0 5px;
    }
  }
  h3, h5 {
    margin:0;
  }
  h3 { font-size:35px; }
  h5 { font-size:9px; font-weight: bold; }
  .notBold {
    font-weight: normal;
  }
  .text-success {
    color: @summarySuccess;
    border-right: 2px solid @gray-lighter;
  }
  .text-warning {
    color: @summaryWarning;
    border-right: 2px solid @gray-lighter;
  }
  .text-danger {
    color: @summaryDanger;
  }
}