/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@summarySuccess: #009900;
@summaryWarning: #E6DD00;
@summaryDanger: #FF0000;

.entitySummary {
  text-align: center;
  .whiteBox {
    background-color: white;
    border-radius: 3px;
    margin: 0 7px 0 0;
    padding: 5px 0;
    &:first-child {
      margin: 0 5px;
    }
  }
  h3, h5 {
    margin:0;
  }
  h3 { font-size:35px; }
  h5 { font-size:9px; font-weight: bold; }
  .notBold {
    font-weight: normal;
  }
  .text-success {
    color: @summarySuccess;
    border-right: 2px solid @gray-lighter;
  }
  .text-warning {
    color: @summaryWarning;
    border-right: 2px solid @gray-lighter;
  }
  .text-danger {
    color: @summaryDanger;
  }
}

.summaryBox {
  border-radius: 5px;
  border: 1px solid @gray-light2;
  margin: 5px 0;
  padding: 15px 5px;
  font-size: 12px;
  background-color: #ffffff;
  h4 {
    font-weight: bold;
    margin:5px 0;
  }
  h5 {
    font-weight: bold;
    margin-top:20px;
  }
  table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
  }
  .tableHeader {
    width: 70px;
    font-weight: bold;
  }
  textarea {
    width: 100%;
  }
  &.processCluster {
    padding: 15px 4%;
    margin: 5px auto;
    h5 {
      margin-top:15px;
      &:first-child {
        margin-top:0;
      }
    }
  }
}