/*
 * form
 *
 */
@nextBtnBackground: #666666;
@prevBtnBackground: #CCCCCC;

#formBox {
  .formBoxWrapper {
    border: 1px solid @gray-lighter;
    border-radius:3px;
    .p20;
  }
  a {
    line-height: 30px;
    cursor: pointer;
    margin: 5px 15px;
    text-decoration: underline;
    color: black;
    &:focus {
      color: red;
    }
  }
  .nextBtn, .prevBtn {

    .transition(background, 0.3s, ease);
    border: 0px none;
    width: 90px;
    border-radius: 7px!important;
    padding: 10px;

  }
  .nextBtn {
    background: @nextBtnBackground;
    color: white;
    &:hover {
      background: darken(@nextBtnBackground, 10%);
      color: white;
      outline: hidden;
      //border-radius: 7px!important;
    }
    &:focus, &:active, &:visited {
      background: darken(@nextBtnBackground, 10%);
      color: white;
      outline: hidden;
      //border-radius: 7px!important;
    }
  }
  .prevBtn {
    background: @prevBtnBackground;
    &:hover {
      background: darken(@prevBtnBackground, 10%);
      outline: hidden;
      //border-radius: 7px!important;
    }
    &:focus, &:active, &:visited {
      background: darken(@prevBtnBackground, 10%);
      outline: hidden;
      //border-radius: 7px!important;
    }
  }
}
